 <div class="row col-md-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Ticker</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @tracked_stocks.each do |stock| %>
        <tr>
          <th scope="row"><%= stock.ticker %></th>
          <td><%= stock.name %></td>
          <td><%= stock.last_price %></td>
          <td>
            <%= link_to "Remove Stock", user_stock_path(stock.id), method: :delete, data: {confirm: "Are you Sure?"}, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>