<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<% if @stock %>
  <div class="card card-header results-block">
    <strong>Symbol:</strong> <%= @stock.ticker %>
    <strong>Name:</strong> <%= @stock.name %>
    <strong>Last Price:</strong> <%= @stock.last_price %>
  </div>
  <% if current_user.can_track_stock(@stock.ticker) %>
    <%= link_to "Add to Portfolio", user_stocks_path(user: current_user, ticker: @stock.ticker), method: :post,class:'btn btn-info' %>
  <% elsif !under_stock_limit? %>
    <span class="badge badge-danger"> Max Reached </span>
  <% else %>
    <span class="badge badge-default"> Already Added </span>
  <% end %>
<% end %>