<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<% if @friend %>
  <div class="card card-header results-block">
    <strong>Id:</strong> <%= @friend.id %>
    <strong>E-Mail:</strong> <%= @friend.email %>
  </div>
  <% if current_user.can_add_friend(@friend) %>
    <%= link_to "Add Friends", friendships_path(friend: @friend), method: :post, class:'btn btn-info' %>
  <% else %>
    <span class="badge badge-default"> Already Added </span>
  <% end %>
<% end %>