 <div class="row col-md-9">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @friends.each do |friend| %>
        <tr>
          <th scope="row"><%= friend.email %></th>
          <td>
            <%= link_to "Remove friend", friendship_path(friend.id), method: :delete, data: {confirm: "Are you Sure?"}, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>