<h1>My Friends</h1>
<div class="search-area">
  <h3>Search Users</h3>
  <%= form_tag search_user_path, remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :email, params[:email], placeholder: "Enter user email",
                            autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-md-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <%= fa_icon "search 2x" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div id="results" class="mb-3"> 
</div>
<% if !@friends.empty? %>
 <%= render "users/friends_list" %>
<% end %>