  <% if alert || notice %>
    <% alert_type = notice ? 'success' : ( alert ? 'danger' : '' ) %>
    <div class="alert alert-<%= alert_type %>">

      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= notice %> <%= alert %>
    </div>
  <% end %>